.material-icons{
	transition: color 1s;
}

/*Cores*/
.material-icons.md-azul-bebe { color:var(--cor-azul-bebe);}
.material-icons.md-azul-escuro { color:var(--cor-azul-escuro);}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*Dimensionamento*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-100 { font-size: 100px; }
.material-icons.md-em-3 { font-size: 1rem; }

/*Display*/
@media screen and (min-width: 0){
	.material-icons.md-display{
		display:none;
	} 
}

@media screen and (min-width: 768px){
	.material-icons.md-display{
		display:inline;
	} 
}